@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@600&display=swap');
.layout {
    width: 1920px;
    height: 1080px;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; 
    z-index: 2;
    padding: 10px; 
}
.container {
    display: flex;
    flex-direction: column;
    height: 150vh;
    position: relative;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        white 0%,
        #d3d3d3 50%,
        #0099ff 50%,
        #0099ff 100%
    );
    overflow-y: auto;
    overflow-x: hidden;

}

h1 {
    font-family: "Montserrat", sans-serif;
        color: rgb(39, 39, 39);
    font-size: 400%;

}
p {
    font-family: "Noto Sans", sans-serif;
    color: #2e3d47;
    position:fixed;bottom:0;left:0;right:0;height:30px;
}
.wave {
    background: url(wave.svg) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute ;
    width: 200%;
    height: 40%;
    animation: wave 10s ease-in-out infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    z-index: 1;
    top: -86vh;
    margin-top: 1000px;

  }
  @keyframes wave {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-49%);
    }
    60% {
        transform: translateX(-49%);
    }
    100% {
        transform: translateX(0);
    }
}
body.DarkMode {
    background: linear-gradient(
        to bottom,
        #272727 0%,
        #272727 50%,
        #0099ff 50%,
        #0099ff 100%
        
    );}

body.DarkMode h1 {
            color: #ffffff;

    }