@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        white 0%,
        white 50%,
        #38a9e9 50%,
        #38a9e9 100%
    );
    overflow: hidden;

}

h1 {
    font-family: "Noto Sans", sans-serif;
    color: black;

}

.wave {
    background: url(wave.svg) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 200%;
    height: 70%;
    animation: wave 15s -100s ease infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0;

  }
  @keyframes wave {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50%); } 
    100% { transform: translateX(0); }
}